<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>tut2</display-name>
  <servlet>
    <servlet-name>HelloForm</servlet-name>
    <servlet-class>demo_form.HelloForm</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>CheckForm</servlet-name>
    <servlet-class>demo_form.CheckForm</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>InsertDb</servlet-name>
    <servlet-class>demo_form.InsertDb</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloForm</servlet-name>
    <url-pattern>/HelloForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckForm</servlet-name>
    <url-pattern>/CheckForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertDb</servlet-name>
    <url-pattern>/InsertDb</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>